{% extends 'Home/home.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Proveedores</title>
</head>
<body>
<div class="container">
    <h1>Lista de Proveedores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>NIT</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.nit }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.correo_electronico }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
{% endblock %}
