.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.button-container a.red {
    background-color: #ec1f1f; /* Rojo para el icono de eliminar */
}
.button-container a.green {
    background-color: #4CAF50; /* Verde para el icono de editar */
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.button-container i {
    color: #fff;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}
.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}