{% extends 'Home/home.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Crear_producto.css' %}">
    <title>Editar Producto</title>
</head>
<body>
    <div class="container">
        <h2>Editar Producto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
