{% extends 'Home/home.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Insertar_producto.css' %}">
    <title>Insertar Productos</title>
</head>
<body>
    <h1>Subir Archivo Excel para Insertar Productos</h1>
    <a href="{% static 'plantillas/plantilla_productos.xlsx' %}" download class="btn btn-secondary">
        Descargar Plantilla
    </a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}  
    
</body>
</html>
{% endblock %}
